body {
    min-height: 2000px;
    background-color: white;
}

.jumbotron {
    padding-top: 6rem;
    background: #B9EDDD;
}

footer {
    background-color: #2F8F9D;
    color: white;
}

section {
    padding-top: 5rem;
}